<p id="notice"><%= notice %></p>

<h1>Pepes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pepes.each do |pepe| %>
      <tr>
        <td><%= pepe.name %></td>
        <td><%= link_to 'Show', pepe %></td>
        <td><%= link_to 'Edit', edit_pepe_path(pepe) %></td>
        <td><%= link_to 'Destroy', pepe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pepe', new_pepe_path %>
